.sidebar {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 999999999;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #000000;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidebar button:hover {
    background-color: cyan;
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    color: white;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar button {
        font-size: 18px;
    }
}

.btn-menu{
    float: right;
    background-color: gray;
    border: 0px;
    color: white;
    font-size: 30;
    text-align: right;
    position: fixed;
    height: 7.1%;
    z-index: 999;
}

.heading{
    color: white;
    float: left;
}

.navbar-inverse {
    background-color: gray;
}

.active{
    color: black;
    background-color: cyan;
}

.not-active{
    color: cyan;
}

.book {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 230px;
    margin: 0 10px;
    text-align: center;
}

.book-img {
    width: 210px;
    height: 260px;
}

.info-heading {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: royalblue;
    color: white;
}

b {
    color: blue;
}

.content{
    background-color: lightgray;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}